$primaryColor: #121f42; 
$secondaryColor: #56411A;
$accentColor: #3990c3;
$greyColor: #ccc;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;